body {
  background-image: url(Images/Background.jpeg);
}

header {
  align-items: center;
}

header img {
  width: 170px;
}

header nav ul {
  list-style: none;
  background-color: aliceblue;
}

header nav li {
  display: inline-block;
}
header nav li a {
  color: rgb(0, 0, 0);
  transition: color 0.21s;
}

header nav li a:hover {
  color: rgb(214, 159, 64);
}