* {
  color: #a99877;
}
body {
  background-image: 
     url('../Images/Background.jpeg'),
     url('../Story/images/bg-repeat.jpg');
  background-repeat: no-repeat, repeat-y;
  background-size: auto, auto 100%;
  margin: 0px;
  padding: 0px;
}
body h1,h2{
  font-family: MedievalSharp;
  color: #f3e6d0;
}
/*--Header--*/
header {
  padding: 0;
  font-family: MedievalSharp;
}
.h-img1 {
  width: 200px;
}
.h-h1 {
  color: rgb(214, 159, 64);
  text-shadow: 2px 0px 1.2px rgba(47, 31, 31, 0.9);
}

/*--Gameplay--*/
.gameplay {
  padding: 0px 40px 0px 40px;
  background-image: url(images/top.jpeg),
                    url(../Story/images/Screenshot\ 2023-10-24\ at\ 7.18.06\ PM.png);
  background-repeat: no-repeat, repeat-y;
  background-size: 100% auto, 100% auto;
  margin: 0px 190px;
  padding: 30px;
  position: relative;
}

.gameplay::before,
.gameplay::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: inherit;
  filter: blur(10px);
}

.gameplay::before {
  left: 0;
}

.gameplay::after {
  right: 0;
}
/*sub text*/
.g1-p {
  color: rgb(210, 184, 171);
  text-align: center;
  font-size: smaller;
}
/*list head*/
.list-head {
  color: #dca639;
}
/* Gameplay1*/
.gameplay-1 {
  margin-top: 80px;
}
.img1 {
  width: 300px;
}
/* Gameplay2*/

.img2 {
  width: 300px;
}
/* Gameplay3*/

/*--------Footer-----------------*/
.footer-content p{
  text-align: center;
  color: rgb(206, 204, 203);
}